<div class="bottom">
  <div>About Us</div>
  <div class="text">Founded in 2018, the cheap online lottery is a service offering people the freedom to purchase 
    online lottery tickets as affordably as possible. Our objective is to lower the cost to the 
    point where is costs no more than purchasing in store at your local retail. For more information
    please see our <a (click)="goToTerms()">Terms and Conditions</a>.</div>
    <div class="text">Have questions or need to reach us? Please <a href="mailto:123lottoservice@gmail.com">email our support team: <span>123LottoService@gmail.com</span>.</a></div>
</div>
